Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a ="Rushi"                 # string

In [3]:
a

'Rushi'

In [4]:
type(a)

str

In [6]:
l=[1,2,3,4,4.5,"rushi",True]                 #list

In [7]:
l

[1, 2, 3, 4, 4.5, 'rushi', True]

In [8]:
type(l)

list

In [9]:
b = 4.6

In [10]:
b

4.6

In [11]:
type(b)

float

In [15]:
t =(1,2,3,4,4.5,"Rushi",True)                     # tuple

In [16]:
t

(1, 2, 3, 4, 4.5, 'Rushi', True)

In [17]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANS--

data types
1.string
2.list with any data type
3. list with string
4. Numeric i.e. integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
a= 50
b=10

In [23]:
a/b            # division

5.0

In [24]:
a%b            # modulus function gives remainder

0

In [25]:
a//b                         # basic regular division

5

In [26]:
a**b                   # exponential function

97656250000000000

Q.4Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
l=[1,2,3,4,5.6,8.9,True,"Rushi","Aksh",False]

In [29]:
for i in l :
    print(i)

1
2
3
4
5.6
8.9
True
Rushi
Aksh
False

Q.5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
def count_divisions(a, b):
    count = 0  # Variable to keep track of the number of divisions

    while a % b == 0:
        count += 1
        a //= b

    return count
number_a = 100
number_b = 5
divisions = count_divisions(number_a, number_b)
print(f"{number_a} is divisible by {number_b} {divisions} times.")

100 is divisible by 5 2 times.

Q.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
l =list[range(1,26)]

In [11]:
numbers = list(range(1, 26))
for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

 Q.7 What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
MUTABLE --  mutable objects are objects whose state can be modified after they are created. 
            This means that you can change their values, add or remove elements, or modify their internal structure.
   EXAMPLE-- LIST,SET 
IMMUTABLE -- immutable objects are objects whose state cannot be modified after they are created.
            This means that once an immutable object is created, you cannot change its value or internal state.  
 EXAMPLE-- TUPLE