<a id="1"></a>

# <p style="padding: 10px; background-color: orange; margin: 10px; color: #000000; font-family: newtimeroman; font-size: 100%; text-align: center; border-radius: 10px; overflow: hidden; font-weight: 50;">Pandas Advance Assignment 2</p>

<a id="1"></a>
# <p style="padding: 10px; background-color: yellow; margin: 5px; color: #000000; font-family: newtimeroman; font-size: 60%; text-align: right; border-radius: 5px; overflow: hidden; font-weight: 50;">RUSHI BHAMARE</p>

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

**Difference:-**

**1. loc:**
loc is primarily used for label-based indexing and selection. It's suitable for selecting data based on meaningful row and column labels.

In [3]:
d1=df.loc[2,'duration']
d1

6

**iloc:** iloc is used for integer-location-based indexing and selection. It uses integer-based indices to access data.

In [4]:
df.iloc[2,1]

6

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
reindex= [3,0,1,2]
df1=df.reindex(reindex)
df1

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
df1.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
df1.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [9]:
import pandas as pd
import numpy as np

In [10]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.741562  0.655175  0.992982  0.382492  0.258597  0.028424
2  0.841613  0.321919  0.916375  0.508464  0.744847  0.553338
3  0.122545  0.548827  0.839136  0.532656  0.808639  0.385173
4  0.121816  0.300013  0.225896  0.700905  0.195828  0.335069
5  0.440874  0.054893  0.388832  0.524777  0.358982  0.537411
6  0.095574  0.939106  0.900512  0.416508  0.129117  0.501326

In [11]:
df1.mean()

column_1    0.393998
column_2    0.469989
column_3    0.710622
column_4    0.510967
column_5    0.416002
column_6    0.390124
dtype: float64

In [12]:
f=df1['column_2'].std()
print(round(f,4))

0.311

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.741562  0.655175  0.992982  0.382492  0.258597  0.028424
2  0.841613  0.321919  0.916375  0.508464  0.744847  0.553338
3  0.122545  0.548827  0.839136  0.532656  0.808639  0.385173
4  0.121816  0.300013  0.225896  0.700905  0.195828  0.335069
5  0.440874  0.054893  0.388832  0.524777  0.358982  0.537411
6  0.095574  0.939106  0.900512  0.416508  0.129117  0.501326

In [14]:
df1.loc[2,'column_2']='ram'

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.741562  0.655175  0.992982  0.382492  0.258597  0.028424
2  0.841613       ram  0.916375  0.508464  0.744847  0.553338
3  0.122545  0.548827  0.839136  0.532656  0.808639  0.385173
4  0.121816  0.300013  0.225896  0.700905  0.195828  0.335069
5  0.440874  0.054893  0.388832  0.524777  0.358982  0.537411
6  0.095574  0.939106  0.900512  0.416508  0.129117  0.501326

In [16]:
df1.mean()

C:\Users\bhama\AppData\Local\Temp\ipykernel_20808\2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.393998
column_3    0.710622
column_4    0.510967
column_5    0.416002
column_6    0.390124
dtype: float64

In [17]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Running this code will result in an error because we're trying to calculate the mean of a column that contains non-numeric data. To calculate the mean, all values in the column should be of a numeric data type i.e.integers or floating-point numbers.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.

Windows function in Pandas can be broadly divided into three categories: Aggregate, Ranking, and Value.

**The Aggregate :-**

1. Group,
2. Rolling, and
3. Expanding.

**The Ranking:-**

1. Row Numbers,
2. Row numbers if of two types:
3. reset_index()
4. cumcount()
5. Rank 
6. Dense rank,
7. Percent, and
8. N-Tile / qcut().

**The Value:-**

1. Lag / Lead, 
2. First / Last/nth.

# Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
import datetime as dt

In [ ]:
current_datetime = dt.datetime.now()
current_datetime

In [ ]:
month = pd.Timestamp(current_datetime).month_name()
year = pd.Timestamp(current_datetime).year

In [ ]:
print(f"Current month: {month}")
print(f"Current year: {year}")

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

time_difference = date2 - date1
time_difference

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [19]:
file_path = input("Enter the file path: ")


column_name = input("Enter the column name: ")

df = pd.read_csv(file_path)

category_order = input("Enter the category order (comma-separated values): ")
category_order = [cat.strip() for cat in category_order.split(",")]

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df_sorted = df.sort_values(column_name, ascending=False)

print('File Path Entered :',file_path)
print('Column name Entered :',column_name)
print('Category Order :',category_order,'\n')
print('==================================\n')
print(df_sorted)

Enter the file path: C:\Users\bhama\Titanic_file.csv
Enter the column name: Sex
Enter the category order (comma-separated values): male,female
File Path Entered : C:\Users\bhama\Titanic_file.csv
Column name Entered : Sex
Category Order : ['male', 'female']

==================================

     Unnamed: 0  PassengerId  Survived  Pclass  \
274         274          275         1       3
241         241          242         1       3
251         251          252         0       3
726         726          727         1       2
727         727          728         1       3
..          ...          ...       ...     ...
370         370          371         1       1
371         371          372         0       3
372         372          373         0       3
373         373          374         0       1
890         890          891         0       3

                                            Name     Sex   Age  SibSp  Parch  \
274                   Healy, Miss. Hanora "Nora"  female   NaN      0      0
241               Murphy, Miss. Katherine "Kate"  female   NaN      1      0
251   Strom, Mrs. Wilhelm (Elna Matilda Persson)  female  29.0      1      1
726  Renouf, Mrs. Peter Henry (Lillian Jefferys)  female  30.0      3      0
727                     Mannion, Miss. Margareth  female   NaN      0      0
..                                           ...     ...   ...    ...    ...
370                  Harder, Mr. George Achilles    male  25.0      1      0
371                    Wiklund, Mr. Jakob Alfred    male  18.0      1      0
372                   Beavan, Mr. William Thomas    male  19.0      0      0
373                          Ringhini, Mr. Sante    male  22.0      0      0
890                          Dooley, Mr. Patrick    male  32.0      0      0

       Ticket      Fare Cabin Embarked
274    370375    7.7500   NaN        Q
241    367230   15.5000   NaN        Q
251    347054   10.4625    G6        S
726     31027   21.0000   NaN        S
727     36866    7.7375   NaN        Q
..        ...       ...   ...      ...
370     11765   55.4417   E50        C
371   3101267    6.4958   NaN        S
372    323951    8.0500   NaN        S
373  PC 17760  135.6333   NaN        C
890    370376    7.7500   NaN        Q

[891 rows x 13 columns]

# Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
file_path = input("Enter the CSV file path: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found.")
    exit()

In [ ]:
df.head()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
sales_data = df.groupby(['Date', 'Product'])['Sales'].sum().unstack().fillna(0)

In [ ]:
sales_data.plot(kind='bar', stacked=True, figsize=(10, 10))
plt.title('Bar Chart of Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Total Sales')
plt.legend(title='Product')

plt.show()

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Writea Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [ ]:
 df12= pd.read_csv("D:\student_data.csv")

In [ ]:
df12.head()

In [ ]:
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

In [ ]:
results_df = pd.DataFrame({
    'Statistics': ['Mean', 'Median', 'Mode'],
    'Test Score': [mean_score, median_score, mode_score]
})
results_df

<a id="1"></a>

# <p style="padding: 10px; background-color: orange; margin: 10px; color: #000000; font-family: newtimeroman; font-size: 100%; text-align: center; border-radius: 10px; overflow: hidden; font-weight: 50;">Thank You </p>