__Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.__

In [15]:
data =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data = sorted(data, key=lambda x: x[1])
for i in sorted_data:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

__Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]__

In [17]:
n = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda n : n**2 , n))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

__Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions__

In [20]:
int_1 = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda int_1 : str(int_1),int_1))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

__Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.__

In [25]:
from functools import reduce
l8 = list(range(1,25))
reduce(lambda x,y :x*y,l8 )

620448401733239439360000

__Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]__

In [29]:
l22 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda l22 : l22%2 == 0 and l22% 3 == 0,l22))

[6, 60, 90, 120]

__Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']__

In [32]:
s =  ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda s :s==s[::-1],s))

['php', 'aba', 'radar', 'level']